 <!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <div>Welcome, user</div>
    <br/>
    <div id="menu">
        Menu: <br/>
        <ul>
            <li><a href="/deposit">Deposit to existing customer</a></li>
            <li><a href="/register">Deposit to new customer</a></li>
            <li><a href="/transaction">See Transaction List</a></li>
        </ul>
    </div>
</body>

</html> 
