 <!DOCTYPE html>
<html>
<head>
<title>Deposit to new customer</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style type="text/css">
    form label {
        display: inline-block;
        width: 170px;
    }

    #status.error {
        color: red;
    }
</style>
</head>

<body>
<div>
    <a href="/">&laquo; Home</a>
</div>
<h1>Create New Customer & Account</h1>
<form method="POST" id="register_form">
    <div>
        <label>First Name</label>
        <input type="text" name="first_name" id="first_name"/>
    </div>
    <br/>
    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" id="last_name"/>
    </div>
    <br/>
    <div>
        <label>Initial Balance</label>
        <input type="text" name="amount" id="amount"/>
    </div>
    <br/>
    <button type="submit">Submit</button>
    <br/>
    <br/>
    <div>
        <span id="status"></span>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $('#register_form').submit(function(e){
            e.preventDefault();
            var formData = {};
            formData.first_name = $('#first_name').val()
            formData.last_name = $('#last_name').val()
            formData.amount = $('#amount').val()
            $('#status').text('').removeClass('error');

            $.ajax({
                url: '/api/register',
                dataType: 'json',
                data: formData,
                type: 'POST',
                success: function(data) {
                    $('#status').text("Successfully insert new customer, customer new id: " + data.data.CustomerId + " account number: " + data.data.AccountNumber)
                    $('#register_form').trigger('reset')
                },
                error: function(data) {
                    console.log(data)
                    if (data.status == 400) {
                        $('#status').text(data.responseJSON.msg).addClass('error');
                    } else {
                        alert("Error occured when submitting your data")
                    }
                }
            });
        });
    });
</script>
</body>

</html>
