 <!DOCTYPE html>
<html>
<head>
<title>Transaction List</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style type="text/css">
    form label {
        display: inline-block;
        width: 170px;
    }

    #status.error {
        color: red;
    }

    table th {
        text-align: left;
        width: 300px;
    }
    table td.numeric, th.numeric {
        text-align: right;
    }
</style>
</head>

<body>
<div>
    <a href="/">&laquo; Home</a>
</div>
<h1>See Transaction</h1>
<h5>please enter account number</h5>
<form method="GET" id="transaction_form">
    <div>
        <label>Account No</label>
        <input type="text" name="account_number" id="account_number"/>
    </div>
    <br/>
    <button type="submit">Submit</button>
    <br/>
    <br/>
    <div>
        <span id="status"></span>
    </div>
    <br/>
    <br/>
    <div>
        <div>
            <label>Account No</label>
            <span id="res_account_number"></span>
        </div>
        <div>
            <label>Balance</label>
            <span id="res_balance"></span>
        </div>
        <div>
            <label>Transactions</label>
            <div id="res_transactions">
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $('#transaction_form').submit(function(e){
            e.preventDefault();
            var formData = {};
            formData.account_number = $('#account_number').val();
            $('#status').text('').removeClass('error');

            $.ajax({
                url: '/api/transaction',
                dataType: 'json',
                data: formData,
                type: 'GET',
                success: function(data) {
                    $('#deposit_form').trigger('reset')

                    $('#res_account_number').text(data.data.AccountNumber)
                    $('#res_balance').text(data.data.Balance.String)
                    createTransactionTable(data.data.Transactions)
                },
                error: function(data) {
                    console.log(data)
                    if (data.status == 400) {
                        $('#status').text(data.responseJSON.msg).addClass('error');
                    } else {
                        alert("Error occured when submitting your data")
                    }
                }
            });
        });

        function createTransactionTable(transactions) {
            html = "<table>";
            html += "<tr><th>Date</th><th style='width:50px'>ID</th><th>Description</th><th>DType</th><th class='numeric'>Amount</th></tr>";
            for (var key in transactions) {
                html += "<tr>";
                html += "<td>" + transactions[key].Date + "</td>";
                html += "<td>" + transactions[key].Id + "</td>";
                html += "<td>" + transactions[key].Description + "</td>";
                html += "<td>" + transactions[key].Dtype + "</td>";
                html += "<td class='numeric'>" + transactions[key].Amount.String + "</td>";
                html += "</tr>";
            }

            $('#res_transactions').html(html)
        }
    });
</script>
</body>

</html>
